# Project extensions
# ==============
*.sln
*.vcxproj
*.filters
*.user
*.gitignore
*.gitattributes

# Project directories
# ==============
.vs/
.vs/SDL_shader/v16/
.git/
bin/
bin_intermediate/

# Libraries directories
# ==============
SDL_shader/vendor/
SDL_shader/test/

# Project files
# ==============
TODO.txt